<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>${topic.subject}</title>
</head>
<body>
<p>
Copyright 2014 Nikolas S. Boyd. Permission is granted to copy this 
document provided this copyright statement is retained in all copies.
</p>

<table width="100%" cellspacing="0" cellpadding="0" class="t1">
    <tr>
      <td valign="middle">
        <h2><b>${topic.subject}</b></h2>
      </td>
      <td valign="middle">
        <p><a href="http://www.educery.com/biography.htm">Nik Boyd</a></p>
      </td>
    </tr>
</table>
<div  style="float: right; margin: 20px">${diagram}</div>
<p>In the context of this <a href="domain.html">Model,</a> ${topic.article} ${topic.capitalizedLink}</p>
<blockquote>
<#list topic.facts as fact>
<p>${fact.getFormattedPredicate(topic)}</p>
</#list>
</blockquote>

<h3><b>Discussion</b></h3>
<p>${topic.discussion}</p>

<h3 align="center"><b>&sect; &sect; &sect;</b></h3>
</body>
</html>
